@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">ClinicaDB</h1>
    <p>Sistem informatic cu scopul de a usura munca de zi cu zi a unei clinici fictive</p>
</div>
